.homepage{
    background-image: url('../assets/pexels-delbeautybox-211032-853427.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    filter: blur(5px) grayscale(100%);
    position: relative;
}

.buttons{
    color: rgb(216, 15, 223);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}